@import './_variables.css';
@import './_base.css';
@import './_utility.css';

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.box {
  height: 100px;
  width: 100px;
  background: burlywood;
}

.rotate {
  transform: rotate(45deg);
}

.color {
  background: chocolate;
}

.radius {
  border-radius: 50%;
}
