@import './_variables.css';
@import './_base.css';
@import './_utility.css';

body {
  display: grid;
  justify-items: center;
  padding: 120px 0;
  height: 100vh;
  gap: 20px;
}

label {
  display: grid;
  justify-items: center;
}

.box {
  height: 100px;
  width: 100px;
  background: burlywood;
}
